In [2]:
import numpy as np
import pandas as pd

Creating Dataframe

In [3]:
my_data=np.array([[0,3],[10,7],[20,9],[30,14],[40,15]])

# python list to hold column names
my_columns=['temperature','activity']

# Dataframe
my_dataframe=pd.DataFrame(data=my_data,columns=my_columns)

print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

Adding new column

In [4]:
my_dataframe["adjusted"]=my_dataframe["activity"]+2

print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

Subset of a dataframe

In [11]:
#Rows 0  1  2
print(my_dataframe.head(3)) 

print("\n\n")

#Row 2
print(my_dataframe.iloc[[2]])

print("\n\n")


#Rows 0  1  2
print(my_dataframe[1:4])

print("\n\n")

#Specific Column
print(my_dataframe['temperature'])

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11



   temperature  activity  adjusted
2           20         9        11



   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16



0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

Do the following:

Create an 3x4 (3 rows x 4 columns) pandas DataFrame in which the columns are named Eleanor, Chidi, Tahani, and Jason. Populate each of the 12 cells in the DataFrame with a random integer between 0 and 100, inclusive.

Output the following:

the entire DataFrame

the value in the cell of row #1 of the Eleanor column

Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason.

To complete this task, it helps to know the NumPy basics covered in the NumPy UltraQuick Tutorial.

In [19]:
def create_dataframe(rows,columns):
        data_set=np.random.randint(low=0,high=101,size=(rows,columns))
        column_names=["Eleanor","Chidi","Tahini","Jason"]
        data_frame=pd.DataFrame(columns=column_names,data=data_set)
        return data_frame

data_frame=create_dataframe(3,4)
print(data_frame,"\n\n")
data_frame['Janet']=data_frame['Tahini']+data_frame['Jason']
print(data_frame['Eleanor'][[1]])

   Eleanor  Chidi  Tahini  Jason  Janet
0       85     98      66     33     99
1       10     31       8     33     41
2       49     83      16     79     95


1    10
Name: Eleanor, dtype: int64

Copying a DataFrame (optional)
Pandas provides two different ways to duplicate a DataFrame:

Referencing. If you assign a DataFrame to a new variable, any change to the DataFrame or to the new variable will be reflected in the other.

Copying. If you call the pd.DataFrame.copy method, you create a true independent copy. Changes to the original DataFrame or to the copy will not be reflected in the other.

The difference is subtle, but important.